@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progressBarAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.animate-progressBar {
    animation: progressBarAnimation 15s linear forwards;
}